#MainBlock{
    width:100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(168, 215, 243, 0.822);
}
#header{
    display: flex;
    width: 80%;
    height: 90px;
    margin-top: 10px;
border-radius: 0.5em;
        background-color: rgb(53, 53, 51);
}
#mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 380px;
    margin-top: 90px;
    background-color: rgb(253, 253, 253);
}
#photoLeft{
    background-color: darkmagenta;
    width: 600px;
    height: 360px;
    display: flex;
    margin-left: 10px;
    align-items: flex-end;
}
#photoRight{
    background-color: darkmagenta;
    width: 600px;
    height: 360px;
    display: flex;
    margin-right: 10px;
    align-items: flex-start;